* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

$dark: rgb(41, 41, 41);
$light: #fff;

body {
    font-family: 'Montserrat', 'Roboto';

}

.menu {
    height: 100vh;
    width: 250px;
    background: $dark;
    transform: translateX(-100%);
    transition: .4s ease-in-out;
}

.list {
    list-style: none;
    width: 100%;

    &__menu {
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
        transition: .3s ease-in-out;
        position: relative;


        a {
            color: $light;
            text-decoration: none;
            transition: .4s;

            &:hover {
                opacity: .6;
            }

        }

    }


}

.sub {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .4s linear;

    &__item {
        text-align: center;
        background: $light;
        padding: 20px 0;
        cursor: pointer;


        a {
            color: $dark;
            text-decoration: none;
        }

        &:hover {
            transition: .3s ease-in-out;
        }
    }
}

.add {
    max-height: 200px;

}

.hamburger-box {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    border: none;
    background: transparent;
    transition: .5s ease-in-out;
    cursor: pointer;

    &__inner {
        position: absolute;

    }
}

.hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 1px;

    background: black;

    &::after {
        content: '';
        position: absolute;
        top: -10px;
        width: 32px;
        height: 1px;
        background: black;
        transform: translateX(-50%);
    }

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        width: 32px;
        height: 1px;
        background: black;
        transform: translateX(-50%);
    }
}

.right {
    transform: translateX(0%);
}

.slow {
    transform: translateX(290px);
}